body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
}

.header-content {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  cursor: pointer;
}

.navbar {
  width: 60%;
}

.navbar-item {
  list-style: none;
  display: flex;
  padding: 20px;
  margin: 0;
  justify-content: space-evenly;
}

.navbar-item a {
  text-decoration: none;
  color: #636363;
}

.navbar-item a:hover {
  color: #127BBE;
}

.banner {
  background: url("./images/Base_Header.png") no-repeat center center/cover;
}

.banner-content {
  display: flex;
  background-color: rgba(45, 63, 78, 0.5);
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.banner-content-left {
  color: #fff;
  width: 25%;
}

.banner-content-left h2 {
  font-size: 30px;
}

.banner-content-left button {
  margin-top: 20px;
  padding: 10px 20px;
  border-width: 2px;
  border: 2px solid #fefefe;
  color: #fff;
  cursor: pointer;
  background-color: rgba(45, 63, 78, 0.5);
}

.banner-content-right {
  width: 20%;
  background-color: #127bbe;
  padding: 20px;
}
.banner-content-right h2 {
  font-size: 24px;
  color: #fff;
}

.banner-content-right p {
  color: #fff;
  font-size: 13px;
}

.banner-content-right-form {
  width: 100%;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.form-customer {
  width: 100%;
  margin: 10px;
}

.form-customer input {
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d3dde0;
}

.form-customer p {
  color: #636363;
  font-size: 12px;
}

.banner-content-right-form button {
  width: 100%;
  padding: 10px;
  border: 1px solid #d3dde0;
  background-color: #f1f4f5;
  color: #636363;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.banner-content-right-form button:hover {
  background-color: #92b7e2;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.main-content h2 {
  font-size: 24;
  color: #2e2f30;
}

.main-content-intro {
  font-size: 14;
  color: #4a4a4a;
  text-align: center;
  width: 25%;
}

.main-content-list {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.main-content-list-item {
  flex: 1 1 calc(33.333% - 20px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d3dde0;
  text-align: center;
}

.main-content-list-item h3 {
  font-size: 14px;
  color: #2e2f30;
}

.main-content-list-item p {
  font-size: 14px;
  color: #5a5956;
}

.main-content-icon {
  background-color: #127bbe;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fff;
  border-radius: 5px;
}

.main-content-more {
  color: #127bbe;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
